
  .menu-item {
    min-width: 30%;
    height: 320px;
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7.5px 15px;
    overflow: hidden;
    cursor: pointer;
    &:first-child {
      margin-right: 7.5px;
    }
    
    .background-image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }

    &:hover .background-image{
      transform: scale(1.1);
      transition: transform 6s ease-out;
    }
    &:last-child {
      margin-left: 7.5px;
    }
    
    &.large {
        height: 420px;
    }
    &:hover .content {
      opacity: 0.9;
    }
    .content {
      position: absolute;
      background-color: rgb(185, 185, 185);
      opacity: 0.75;
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #2c2c2c;
      
      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
       
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }

  }